# VSCode / CMake
.vscode/*
!/.vscode/settings.json
!/.vscode/launch.json
!/.vscode/c_cpp_properties.json
# build/
CMakeCache.txt
CMakeFiles/

build/*
!build/bin

*/zip
/assets/downloadOriginData
/assets/background/*.zip
/assets/background/*.jpg
/assets/background/*

!assets/background/assetsEditor


# Windows / misc
*.user
*.log

# DXLib（もし入れてしまっても無視）
DXLib/
dxlib/
*.lib
*.dll

